<h2>メモ登録画面</h2>

<form method="post" action="/memos">
    <div class="form-items__item">
      <label>タイトル</label>
      <input type="text" name="title" required>
    </div>
    <div class="form-items__item">
      <label>メモ内容</label>
      <textarea name="content" required></textarea>
    </div>
    <div class="form-action">
      <input type="submit" value="保存">
    </div>
</form>

<div class="back-to-memos">
  <a href="/memos">メモ一覧</a>
</div>
